@import url('https://fonts.googleapis.com/css2?family=Ysabeau&display=swap');

body {
    margin: 0px;
    font-family: 'Ysabeau', sans-serif;
    background-color: #000000;
}

/* Add a black background color to the top navigation */
.topnav {
background-color: #a9d58d;
overflow: hidden;
position: sticky;
top: 0;
width: 100%;
}

/* Style the links inside the navigation bar */
.topnav a {
float: left;
color: #f2f2f2;
text-decoration: none;
}

.grey {
    background-color: #f8f8f8;
}

.normal {
    background-color: #fff;
}

.footer {
    color: #ffffff;
    padding:0px;
}

.footer a {
    color: #ffffff;
    text-decoration: none;
}

.section {
    padding: 10px;
}

.tryout-btn {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #7FBF27 0, #1C7B34 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  height: 60px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
  font-family:  'Ysabeau', sans-serif;
  z-index: -10;
}

.tryout-btn:focus {
  box-shadow: #145925 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #145925 0 -3px 0 inset;
}

.tryout-btn:hover {
  box-shadow: rgba(8, 37, 15, 0.4) 0 4px 8px, rgba(8, 37, 15, 0.3) 0 7px 13px -3px, #145925 0 -3px 0 inset;
  transform: translateY(-2px);
}

.tryout-btn:active {
  box-shadow: #145925 0 3px 7px inset;
  transform: translateY(2px);
}

.leftcolumn {   
    float: left;
    width: 50%;
}

.rightcolumn {
    float: left;
    width: 50%;
}